/* .admin_dashboard_container_user{
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 3px solid yellowgreen;
}
.admin_dashboard_content{
    width:70%;
    display: flex;
    flex-direction: column;
    border: 3px solid yellow;
} */